<h1>DJ RedIsRecord</h1>
<p><%= image_tag "suit.jpeg", style: 'height:200%;width:auto;', alt: "Closeup of face wearing a suit and black bowtie" %></p>
<p>DJ RedIsRecord is a multi-instrumentalist, music producer who started producing music using two tape decks. <br />
Realizing that the quality and workflow sucks, he pursued other options and has been doing so ever since.</p>
<hr />
<p>Listen at <a href="https://soundcloud.com/redisrecord"><%= image_tag "soundcloud.jpeg", height: '25%', alt: "Soundcloud Logo" %></a>
